.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 230px;
    width: 1190px;
}

.left {
    width: 625px;
}

.header {
    font-size: 56px;
    color: rgb(255, 255, 255);
    width: 516px;
    margin-bottom: 25px;
}

.paragraph {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255, 0.5);
    margin-bottom: 76px;
}

.btn {
    width: 290px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(255, 145, 66);
    color: rgb(244, 247, 250);
    border: none;
    border-radius: 100px;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn:hover {
    background-color: transparent;
    border: solid 2px rgb(255, 145, 66);
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
}

.right {
    position: relative;
}

.img {
    width: 454px;
    height: 506px;
    border-radius: 30px;
    transition: 0.5s;
}

.img:hover {
    scale: 1.05;
}

.rectangleTop {
    width: 110px;
    height: 34px;
    border: solid 1px rgb(255, 145, 66);
    background-color: transparent;
    border-radius: 100px;
    position: absolute;
    top: -20px;
    right: 0px;
    transition: 0.5s;
}

.rectangleLeft {
    width: 55px;
    height: 180px;
    border: solid 1px rgb(255, 145, 66);
    background-color: transparent;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    left: -27px;
    transition: 0.5s;
}

.img:hover .rectangleTop {
    top: -20px;
    right: -10px;
}

.img:hover .rectangleLeft {
    bottom: 50px;
    left: -40px;
}
