@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(26, 26, 26);
}



h1,
h2,
h3,
h4,
h5,
a {
    font-family: 'Syne', sans-serif;
}
